.contents {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

header {
    font-size: xx-large;
    font-weight: bold;
}

#name {
    color: black;
}

main {
    font-size: large;
    margin-top: 20px;
}

footer {
    font-size: xx-small;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.github {
    color: gray;
    font-size: small;
    text-decoration: none;
}

.github:hover {
    text-decoration: underline;
}

#english {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: small;
    color: darkcyan;

    text-decoration: none;
}