# GitHub
.github/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment variables
.env
.env.*
*.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Resume assets
resume/assets/real_image.png
